<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtCoderTimer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;AtCoderTimer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">ホーム</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">コンテスト一覧</a>
                </li>
            </ul>
            <span class="navbar-text">
            (UserID)
          </span>
        </div>
    </nav>
    <div>
        <div id="app">
            <h3 class="container bg-light shadow-sm p-3 my-3 text-center">{{ contest_name }}</h3>
            <div class="container">
                <div class="bg-light shadow-sm p-3 my-4 text-center">
                    <h2>{{ what_time }}</h2>
                    <h1 class="MyClass01">
                        {{ time }}
                    </h1>
                </div>
            </div>
            <div class="container">
                <div class="bg-light shadow-sm p-3 my-4 text-center">
                    <h3>コンテスト情報</h3>
                    <a>制限時間:{{limit}}</a><br/>
                    <a>開始:{{ info_time_start }}<br/>終了:{{ info_time_end }}</a><br/>
                    <div class="btn-group">
                        <a class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true"><img src="/img/link.svg" alt="" width="20" height="20"></a>
                        <a class="btn btn-primary border-left text-white" v-bind:href="contest_url" target="_blank" rel="noopener noreferrer">コンテストサイトへ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/contest.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>