name: Python application
on:
  schedule:
    - cron:  '0 * * * *'
jobs:
  update_and_push:

    runs-on: ubuntu-latest
    env:
      REPO: https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install modules
      run: |
        python -m pip install --upgrade pip
        if [ -f .github/workflows/requirements.txt ]; then pip install -r .github/workflows/requirements.txt; fi
    - name: Run
      run: python crawler/main.py
    - name: push json
      run: |
        git config --global user.email "jmjmri@users.noreply.github.com"
        git config --global user.name "AtCoderTimer-crawler"
        git add .
        git commit -m 'update contest.json by Github Actions' && git push ${REPO} main || true
